<title><%= _title %></title>
<meta name="description" content="<%= _desc %>">
<meta name="keywords" content="<%= _keys %>">
<meta name="author" content="<%= brand.name %>">
<meta name="robots" content="<%= _noindex ? 'noindex, nofollow' : 'index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' %>">
<meta name="theme-color" content="#ff7a18">
<meta name="format-detection" content="telephone=no">
<meta name="referrer" content="strict-origin-when-cross-origin">
<link rel="canonical" href="<%= _canon %>">
<link rel="alternate" hreflang="vi-VN" href="<%= _canon %>">
<link rel="alternate" hreflang="x-default" href="<%= _canon %>">

<meta property="og:type" content="<%= _ogType %>">
<meta property="og:site_name" content="<%= brand.name %>">
<meta property="og:locale" content="vi_VN">
<meta property="og:url" content="<%= _canon %>">
<meta property="og:title" content="<%= _title %>">
<meta property="og:description" content="<%= _desc %>">
<meta property="og:image" content="<%= _ogImg %>">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:alt" content="<%= _title %>">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= _title %>">
<meta name="twitter:description" content="<%= _desc %>">
<meta name="twitter:image" content="<%= _ogImg %>">

<link rel="icon" type="image/svg+xml" href="/static/img/favicon.svg">
<link rel="preconnect" href="https://www.thesportsdb.com" crossorigin>
<link rel="dns-prefetch" href="https://www.thesportsdb.com">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/seo.css">
